ContentWrapper {
  layout: vertical;
  height: 100vh;
}

Content {
  layout: grid;
  grid-size: 3;
  grid-columns: 1fr 2fr 1fr;
  height: 95vh;
}

CustomHeader {
  /* padding: 1; */
  text-align: center;
  border: solid green;
}

Body,
Form,
Todos {
  border: solid green;
}

.box {
  height: 100%;
  border: solid green;
}

#submit {
  /* margin: 1; */
  width: 100%;
}

SideBar {
  height: 100%;
}